In this chapter\
We will now cover three other important types of sequences: Lists, Sets(?!) and Tuples.\
A list consists of a sequence of elements separated by commas and delimited by square brackets
([ … ]):

In [1]:
cars : list = ['Porsche', 'BMW', 'Audi', 'Fiat', 'VW']
cars

['Porsche', 'BMW', 'Audi', 'Fiat', 'VW']

Lists can contain any number and types of objects, i.e. also further lists. \
Lists thus form a recursive
data structure.

In [12]:
more_cars : list = [[ ], ['Golf', 'Passat', 'Polo'], ['Fiesta', 'Focus']] # We can add empty and multi lists as well

Access to list elements\
Sequence[Index]

In [16]:
cars[0] # the first object in the list
cars[0].lower() # now in lower case letters
cars[2] # the third object of the list
cars[-1] # the last object of the list
more_cars[1]

['Golf', 'Passat', 'Polo']

In [17]:
more_cars[1][0] # the first object in the second element of the list
more_cars[1][-1] # the last object in the second element of the list

'Polo'

The use of a negative index can be generalised:\
-1 refers to the last element of a list;\
-2 to the second last element;\
-3 ...

In [18]:
more_cars[1][-3]# the first object in the second element of the list
# [[ ], ['Golf', 'Passat', 'Polo'], ['Fiesta', 'Focu

'Golf'

But unlike in other programming languages, the use of an index that points to a position that is\
not realised in the present list leads to an error message:

In [20]:
#example 
cars[5]

IndexError: list index out of range

Extraction of a range \
As with strings, you can extract a section from a list (slicing) by specifying a range within the\
original list. A range is specified by two numbers separated by a colon:\
[lowerBorderi:upperBorderj].

In [23]:
names : list = ['carl', 'martina', 'moritz', 'gabi', 'susanne']
names[1:3] # partial list containing the 2nd and 3rd element

['martina', 'moritz']

In [29]:
# These operations are all non-destructive;
# i.e. a new list is created with the specified elements.
names[1:] # from: lowerBoundary to: End
names[:3] # from: Start to: upperBoundary
names[:]  # from:to end

['carl', 'martina', 'moritz', 'gabi', 'susanne']

[lowerlimit_i:upperlimit_j:step_size]

In [38]:
cars : list = ['Porsche', 'BMW', 'Audi', 'Fiat', 'VW']
cars[1:5:2] 
cars[1::2]

['BMW', 'Fiat']

In [39]:
cars[2:25] # In python this will not cause any error unless the upperbound is larger then list size

['Audi', 'Fiat', 'VW']

Modification of list

In [41]:
cars[-1] = 'Honda'
cars

['Porsche', 'BMW', 'Audi', 'Fiat', 'Honda']

In [43]:
# ‘+’ operator can be used not only to add numbers or concatenate strings, but also to join lists together
print('My first car was a ' + cars[-1] + '-Civic.')

My first car was a Honda-Civic.

cars+cars # List can be added '+' to multiple list using the operator

Predefined methods for list manipulation in Python.
append()
insert() 
del()
pop() and
remove().\
(Like most other list
methods the changes are permanent that's why it's called destructive method)

In [49]:
cars.append('Opel')
cars.insert(0,'Tesla')
del cars[0] # as you see: del() is a function and not a method
cars.pop ()# pop() removes the last element of a list and returns it as a value and can put index.
print('My last car was a ' + cars.pop() + '.')
cars

My last car was a Fiat.

['Tesla', 'Porsche', 'BMW', 'Audi']

In [83]:
#Even if the object to be removed is not in the list, 
#calling remove() will raise an error message:
digital : list = [0, 1, 0, 0, 1]
digital.remove(1)
digital
digital.remove(0)
digital

[0, 0, 1]

In [87]:
digital.remove(2)# If it is out of the bound it will give error

ValueError: list.remove(x): x not in list

In [89]:
# len() function can be used to determine the length of a list
len([1,2,3])
len([])
len([1,[2,0,3],[3,[4]]])

3

In [91]:
# reverse()- method returns no value and is destructive will reverse the order 
digital.reverse()
digital

[0, 0, 1]

In [94]:
# Sorting lists:- Python offers a destructive method sort() and non-destructive function sorted().
cars:list=['bmw','audi','toyota','subaru']
sorted (cars)#Non Destructive 
cars

['bmw', 'audi', 'toyota', 'subaru']

In [96]:
cars.sort()# Destructive
cars

['audi', 'bmw', 'subaru', 'toyota']

In [98]:
cars.sort(reverse=True)  # Reverse parameter can be used which the sorting direction (ascending/descending) can be determind.
cars

['toyota', 'subaru', 'bmw', 'audi']

In [106]:
# Splits a string into a list using whitespace as the default delimiter.
sorted("No more funny stories about Bugs Bunny".split(),key=str.lower) # It sets the key function for sorting to convert strings to lowercase.

['about', 'Bugs', 'Bunny', 'funny', 'more', 'No', 'stories']

This section covers iterating over lists and using loops in Python:
Iterating Over List Elements:

Example: Checking the hits in a lottery game.

In [107]:
lotto_numbers = [3, 21, 33, 34, 39, 47, 49]
my_tip_slip = [9, 17, 33, 37, 39, 43, 49]
hits = 0

for number in my_tip_slip:
    if number in lotto_numbers:
        hits += 1

print("You have " + str(hits) + " hits!")

You have 3 hits!

Example: Checking if a list is not empty before iterating.

In [108]:
if lotto_numbers:
    for number in my_tip_slip:
        if number in lotto_numbers:
            hits += 1

    print("You have " + str(hits) + " hits!")

You have 6 hits!

Example: Iterating over the first three elements of a list.

In [109]:
premier_league = ['Schalke', 'Gladbach', 'Dortmund', 'Bayern', 'Bremen']

for club in premier_league[:3]:
    print(club)

Schalke
Gladbach
Dortmund

Example: Creating a copy using slice notation to avoid destructive operations.

In [110]:
favorite_teams = premier_league[:]

Example: Generating a sequence using range().

In [116]:
for x in range(1, 3, 1): #range(start, stop, step)
    print(x)

1
2

Example: Creating a list of squares using a loop and append().

In [117]:
squares = [x**2 for x in range(1, 11)]
print(squares) 
# These examples demonstrate key concepts of list manipulation,
# iteration, and conditional checks in Python

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Here, min(), max(), and sum() are used to find the smallest, largest, and sum of numbers in the list, respectively.

In [118]:
min([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])
max([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])
sum([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

385

List comprehension
Python has a powerful and intuitive mechanism for describing lists, called list abstraction, which is very close to the familiar mathematical way of describing sets

In [120]:
squares : list = [x**2 for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [123]:
not_a_prime : list = [j for i in range(2, 8) for j in range(i*2, 100, i)]
# i = 2 => j = 4, 6, 8, 10, 12, …
# i = 3 => j = 6, 9, 12, 15, 18, …
# i = 4 => j = 8, 12, 16, 20, …
# …
not_a_prime

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98]

There is a sample of using list and sorted and Assuming we have a text represented as lists of tokens assigned to the variable text2 and we want to find all words of this text that contain the string ’cie’ or ’cei’, we can accomplish this task with the following small program

In [124]:
import nltk
from nltk.book import *
tricky : list = sorted(w for w in set(text2) if 'cie' in w or 'cei' in w)
for word in tricky:
    print(word, end=' ')

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908
ancient ceiling conceit conceited conceive conscience conscientious conscientiously deceitful deceive deceived deceiving deficiencies deficiency deficient delicacies excellencies fancied insufficiency insufficient legacies perceive perceived perceiving prescience prophecies receipt receive received receiving society species sufficient sufficiently undeceive undeceiving

Let us return to the short programme for calculating the numbers below 100 that are not primenumbers. When we check how many elements this list contains, we are in for a surprise:

In [126]:
not_a_prime : list = [j for i in range(2, 8) for j in range(i*2, 100, i)]
len(not_a_prime)

149

In [129]:
len(set(not_a_prime)) #set function takes only unique

73

Sets and Tuples:-
In Python, sets are created using curly brackets and don't allow duplicate elements. They are unordered, so indexing is not possible, but iteration using a for loop is supported. Sets can include characters, strings, or tuples, but not lists, as they must contain elements of non-modifiable data types.

In [132]:
set([[1, 3, 5], [2, 4, 6]])

TypeError: unhashable type: 'list'

In [133]:
set('test flight')

{' ', 'e', 'f', 'g', 'h', 'i', 'l', 's', 't'}

With add() one element can be added, with update() several elements can be added directly:

In [134]:
colors : set = {'red', 'green', 'yellow'}
colors.add('blue') # Single element is added 
colors.update(['orange', 'pink', 'black']) # Multiple elements can be added using update
colors

{'black', 'blue', 'green', 'orange', 'pink', 'red', 'yellow'}

remove(): Raises an error if the element is not in the list.\
discard(): Does not raise an error if the element is not in the list.

In [135]:
colors.remove('yellow')
colors.remove('yellow')

KeyError: 'yellow'

In [139]:
colors.discard('yellow')
colors

{'black', 'blue', 'green', 'orange', 'pink', 'red'}

intersection(): Common elements between sets. \
difference(): Elements unique to the first set. \
union(): All unique elements from both sets.

In [144]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.intersection(set2)
result1= set1.difference(set2)
result2= set1.union(set2)
print(result,result1,result2)

{2, 3} {1} {1, 2, 3, 4}

Tuples: Python provides tuples, similar to lists but immutable.\
Indexing: Elements in tuples can be accessed by index.\
Immutability: Unlike lists, tuples cannot be modified.\
Notation: Tuples are denoted by round brackets ().

In [148]:
coordinates : tuple = (113, 244)
for x in coordinates:
    print(x)

113
244

In [150]:
coordinates[0]

113

In [151]:
coordinates[1]=1 # Do read the error message

TypeError: 'tuple' object does not support item assignment

Like lists, tuples can use the '+' operator to join and create a new tuple with elements from both original tuples.

In [152]:
coord1 : tuple = (33.5, 77.2)
coord2 : tuple = (11.8, 123.1)
coord1 + coord2

(33.5, 77.2, 11.8, 123.1)

- **Dictionaries:** Key-value pairs in Python, also known as hashes or associative arrays.
- **Structure:** Entries consist of a key and a corresponding value, separated by a colon.
- **Notation:** Dictionaries are enclosed in curly brackets `{}`, resembling sets.

In [153]:
dimensions : dict = {'length' : 10.5, 'width' : 6.2, 'height' : 3.1}
dimensions['length']

10.5

- **Keys:** Numbers, strings, and, with restrictions, tuples can be used as keys in dictionaries.
- **Values:** No restrictions; any object, simple or complex (e.g., lists, tuples, dictionaries), can be used as values.
- **Accessing Values:** Retrieve values using square bracket notation or methods like `get()` and `setdefault()`.

In [154]:
d : dict = {'A' : 1, 'B' : 2, 'A' : 3}
d['A'] # It takes the recent ones

3

1. **Key Uniqueness:** Keys in a dictionary should be unique; however, duplicate keys do not raise an error. In such cases, the value of the last occurrence is retrieved, and all other occurrences are removed.

In [156]:
{'A' : 1, 'B' : 2, 'A' : 3}['A']

3

In [157]:
d : dict = {'A' : 1, 'B' : 2, 'A' : 3}
d

{'A': 3, 'B': 2}

2. **Key Absence:** If a query attempts to use a key not present in the dictionary, it will result in an error.

In [160]:
d : dict = {'A' : 1, 'B' : 2}
d['C'] # Read the error type

KeyError: 'C'

Using the get()-method helps avoid errors like this: \
As an optional second argument, a return value can be specified:

In [165]:
print(d.get('C'))
print(d.get('C', 'Key not defined'))

None
Key not defined

In [166]:
d # The get()-method does not change the content of a dictionary.

{'A': 1, 'B': 2}

**`setdefault()` Method:** Unlike `get()`, the `setdefault()` method adds the key to the dictionary if it is not already present.

In [168]:
d.setdefault('C',0)

0

In [169]:
d

{'A': 1, 'B': 2, 'C': 0}

**Default Dictionaries:** A special type of dictionary that makes it easier to handle default values for keys that are not present.

In [171]:
from collections import defaultdict
list_dict : dict = defaultdict(list)
set_dict : dict = defaultdict(set)
int_dict : dict = defaultdict(int)
print(list_dict, set_dict, int_dict)

defaultdict(<class 'list'>, {}) defaultdict(<class 'set'>, {}) defaultdict(<class 'int'>, {})

In [173]:
test_dict : dict = defaultdict(lambda: -4)
test_dict['a']

-4

**Entries for Unknown Objects:** Default dictionaries create new entries for unknown objects, and lambda expressions are explained in subsequent chapters.

In [174]:
test_dict

defaultdict(<function __main__.<lambda>()>, {'a': -4})

**`in` and `not` Operators:** Used to check the presence or absence of a key in a dictionary.\
**Dynamic Structure:** Dictionaries, being dynamic data structures, allow the creation of new entries at any time.

In [176]:
#Example 
house : dict = {'length' : 10.5, 'width' : 6.2, 'height' : 3.1}
house['colour'] = 'red'
house

{'length': 10.5, 'width': 6.2, 'height': 3.1, 'colour': 'red'}

The same mechanism can of course be used to change an existing value:

In [177]:
house['colour'] = 'blue'
house

{'length': 10.5, 'width': 6.2, 'height': 3.1, 'colour': 'blue'}

**`update()` Method:** Updates a dictionary with entries from another dictionary.

In [178]:
d : dict = {'A' : 1, 'B' : 2}
d.update({'C' :3, 'D' : 4})
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

**Finding Key with Largest Value:** Use the `max()` function with a key argument to get the key of the entry with the largest numerical value.

In [179]:
max(d, key=d.get)

'D'

Use `del` operator to delete specific entries in dictionaries.\
Use `clear()` method to delete all entries in a dictionary.

In [182]:
house : dict = {'length' : 10.5, 'width' : 6.2, 'height' : 3.1, 'colour' : 'blue'}
del house['colour']
house

{'length': 10.5, 'width': 6.2, 'height': 3.1}

In [181]:
house.clear()
len(house)
house

{}

Use the `list()` method to get a list of all keys in a dictionary (similar to `keys()` method).(cf. keys() and values()):

In [185]:
list(house) 
list(house.keys())
list(house.values())

[10.5, 6.2, 3.1]

Use the `dict()` constructor to create dictionaries from data in various forms.

In [186]:
notMyCar : dict = dict(manufacturer="Ford", model="Mustang", year=1964)
notMyCar

{'manufacturer': 'Ford', 'model': 'Mustang', 'year': 1964}

In [187]:
numbers : dict = dict({x: x**2 for x in (2, 4, 6)})
numbers

{2: 4, 4: 16, 6: 36}

**Iteration Over Dictionaries:**
Use a for-loop to iterate over all entries, keys, or values in dictionaries allowing easy evaluation of the stored data.

In [189]:
user : dict = {
'name' : 'Kirk',
'group' : 'admin',
'password' : 'starfleet'
}
for x in user: # Default it will return keys
    print(x)
for x in user.keys():
    print(x)
for x in user.values(): # will return values
    print(x)

name
group
password
name
group
password
Kirk
admin
starfleet

**`items()` Method:**
Returns a list-like object containing all key-value pairs of a dictionary.

In [191]:
for x, y in user.items():
    print(x, y)

name Kirk
group admin
password starfleet

**For-Loop Iteration:**
  - For-loops may not guarantee the order of dictionary items.
  - To ensure order, use `sorted()` with keys or values.
  - Example: `sorted(DICTIONARY.keys())`, `sorted(DICTIONARY.values())`.
  - `sorted()` syntax: `sorted(iterable, key=key, reverse=True/False(default))`.

In [192]:
sorted(['a', 'horse', 'with', 'no', 'name'], key=len)

['a', 'no', 'with', 'name', 'horse']

Complex Structures:
Python allows lists containing dictionaries.

In [200]:
import random # The library random must be loaded in advance.
wolf_pack : list = []
for i in range(1,11) :
    wolf_pack.append({'id' : i,
        'age' : random.randint(1,15), #Returns an integer from a specified range.
        'gender' : random.choice(['female', 'male'])}) # Return any two choice
wolf_pack

[{'id': 1, 'age': 11, 'gender': 'male'},
 {'id': 2, 'age': 4, 'gender': 'female'},
 {'id': 3, 'age': 14, 'gender': 'female'},
 {'id': 4, 'age': 5, 'gender': 'male'},
 {'id': 5, 'age': 14, 'gender': 'female'},
 {'id': 6, 'age': 14, 'gender': 'male'},
 {'id': 7, 'age': 7, 'gender': 'male'},
 {'id': 8, 'age': 10, 'gender': 'male'},
 {'id': 9, 'age': 9, 'gender': 'male'},
 {'id': 10, 'age': 14, 'gender': 'female'}]

**Dictionaries with Lists as Values:**
- Useful when specifying a range or set of values for certain keys in a dictionary.

In [202]:
pizza : dict = {
'base': 'thin',
'topped with': ['mushrooms', 'extra cheese'],
}
pizza

{'base': 'thin', 'topped with': ['mushrooms', 'extra cheese']}

**Dictionaries in Dictionaries:**
- Nested dictionaries, where a dictionary serves as a value for a key in another dictionary.

In [205]:
users : dict = {
'einstein': {
'first name': 'albert',
'last name': 'einstein',
'place': 'princeton', },
'curie': {
'first name': 'marie',
'last name': 'curie',
'location': 'paris', },}
users

{'einstein': {'first name': 'albert',
  'last name': 'einstein',
  'place': 'princeton'},
 'curie': {'first name': 'marie', 'last name': 'curie', 'location': 'paris'}}

**Conversion of Data Structures:**
  - Convert a dictionary to a list using views like `items()`, `keys()`, or `values()` with the `list()` function.

In [207]:
colours : dict = {"red": "red", "green": "green", "blue": "blue", "yellow": "yellow"}
colours.items()
colours_list : list = list(colours.items())
colours_list

[('red', 'red'), ('green', 'green'), ('blue', 'blue'), ('yellow', 'yellow')]

In [210]:
colours.keys()
colours.values()

dict_keys(['red', 'green', 'blue', 'yellow'])

In [212]:
list(colours.keys())
list(colours.values())

['red', 'green', 'blue', 'yellow']

**List to Dictionary:**
- Use the `zip()` function to pair elements from multiple lists and create a dictionary.

In [214]:
x : list = [1, 2, 3]
y : list = [4, 5, 6]
zipped = zip(x, y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [220]:
dishes : list = ["pizza", "sauerkraut", "paella", "hamburger"]
country : list = ["Italy", "Germany", "Spain", "USA"]
dish_country = zip(country, dishes)
dish_country

**Result of `zip()`:**
The result is an iterator that can be converted into a list of pair lists using `list()` or into a dictionary with `dict()`.

In [221]:
list(dish_country)

[('Italy', 'pizza'),
 ('Germany', 'sauerkraut'),
 ('Spain', 'paella'),
 ('USA', 'hamburger')]

In [218]:
dish_country : dict = zip(country, dishes)
dict(dish_country)

{'Italy': 'pizza',
 'Germany': 'sauerkraut',
 'Spain': 'paella',
 'USA': 'hamburger'}